body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Segoe UI';
}

h1 { 
    color: #111; 
    font-family: 'Bison', sans-serif; 
    font-size: 64px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase; 
}



h2 {
    text-align: center;
    font-family: consolas;
}

h3 {
    font-family: consolas;
}

p {
    text-align: justify;
    font-family: 'Segoe UI';
}

code {
    font-family: consolas;
}

a.title-link:link {
    color:#ff3a3a;
}

a.title-link:visited {
    color:#ff3a3a;
}

a.title-link:hover {
    color:#b2ff54;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li.navbar {
    float: center;
}

li a.navbar {
    display: block;
    color: rgb(94, 94, 94);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.navbar:hover {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.archive-link {
    text-decoration: none;
    color: rgb(0, 78, 111);
    font-family: 'Courier New', Courier, monospace;
}

a.archive-link:hover {
    text-decoration: none;
    color: rgb(0, 155, 222);
    font-family: 'Courier New', Courier, monospace, bold;
}