body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Segoe UI';
}

h1 {
    text-align: center;
    font-family: roboto;
}

h2 {
    text-align: center;
    font-family: consolas;
}

p {
    text-align: justify;
    font-family: 'Segoe UI';
}

code {
    font-family: consolas;
}